/* CSS file placeholder. */

*, html, body {
  padding: 0;
  margin: 0;
  -webkit-app-region: no-drag;
}

#wrapper {
  width: 100%;
  height: 100%;
}

h1 {
  background-color: blue;
  border-radius: 15px;
}

#main_frame{
  height: 20px;
  background-color: rgb(75, 75, 75);
  width:100%;
  float: top;
  position: fixed;
  -webkit-app-region: drag;
  padding:0px;
}
#sidebar {
  width: 80px;
  height: 100%;
  position: fixed;
  background-color: rgb(25,150,25);
  box-shadow: 3px -1px 5px rgb(170,170,170);
  padding-left: 5px;
}

#settings_frame{
  margin:0px;
  padding:0px;
  height:20px;
  width: 100%;
  background-color : rgb(255 255, 255);
  align: right;
  -webkit-app-region: drag;
}

#frame_icon{
  width: 20px;
  height: 20px;
  float: right;
  background-color: inherit;
}

#sidebar_text {
  width: 96%;
  padding: 2%;
  font-size: 15px;
}
